<!DOCTYPE html>
<html lang="ja" ng-app="iida.app">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- IE9以降で正しく機能するようにする -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- description -->
  <meta name="description" content="NeXt UI trial application">
  <meta name="keywords" content="NeXt angular angularjs material">
  <meta name="author" content="Takamitsu IIDA">

  <!-- viewportの設定 -->
  <!-- width=device-width 表示領域の幅を端末画面の幅に設定 -->
  <!-- initial-scale=1 表示倍率を１倍に設定 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- faviconの設定 -->
  <!--
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="bookmark" href="/favicon.ico" />
  -->

  <!-- ブラウザのウィンドウやタブに表示されるタイトル -->
  <title>NeXt trial</title>

  <!-- AngularJS -->
  <!-- ローカルからの読み込み -->
  <script src="./static/angular-1.5.8/angular.min.js"></script>
  <!-- CDNからの読み込み -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> -->
  <!-- <script>window.angular || document.write('<script src="./static/angular-1.5.8/angular.min.js"><\/script>')</script> -->

  <!-- Angular Resource -->
  <script src="./static/angular-1.5.8/angular-resource.min.js"></script>

  <!-- Angular animate -->
  <script src="./static/angular-1.5.8/angular-animate.min.js"></script>

  <!-- Angular aria -->
  <script src="./static/angular-1.5.8/angular-aria.min.js"></script>

  <!-- Angular messages -->
  <script src="./static/angular-1.5.8/angular-messages.min.js"></script>

  <!-- Angular material -->
  <!-- ローカルからの読み込み -->
  <script src="./static/angular-material-1.1.1/angular-material.min.js"></script>
  <link href="./static/angular-material-1.1.1/angular-material.min.css" rel="stylesheet">
  <!-- CDNからの読み込み -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script> -->
  <!-- <link href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" rel="stylesheet"> -->

  <!-- Angular material用SVGアイコンの登録 -->
  <!-- https://design.google.com/icons/ -->
  <script type="text/ng-template" id="ic_menu_white_24px.svg.tpl">
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
  </script>

  <script type="text/ng-template" id="ic_close_white_24px.svg.tpl">
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </script>

  <script type="text/ng-template" id="ic_settings_white_24px.svg.tpl">
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/></svg>
  </script>

  <script type="text/ng-template" id="ic_play_circle_filled_white_24px.svg.tpl">
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
  </script>

  <script type="text/ng-template" id="ic_clear_white_24px.svg.tpl">
    <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </script>

  <script type="text/ng-template" id="ic_arrow_back_black_24px.svg.tpl">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
  </script>

  <script type="text/ng-template" id="ic_mode_edit_black_24px.svg.tpl">
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </script>

  <script type="text/ng-template" id="github.svg.tpl">
    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 896q0 251-146.5 451.5t-378.5 277.5q-27 5-39.5-7t-12.5-30v-211q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-121-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-86-13.5q-44 113-7 204-79 85-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-40 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 89t.5 54q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>
  </script>

  <!-- Angular materialはRobotoフォントを前提にしているが、使わない -->
  <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,300italic,400italic,500italic,700italic,900italic"> -->

  <!-- Angular UI Router -->
  <script src="./static/angular-ui-router-0.2.18/angular-ui-router.min.js"></script>

  <!-- NeXt UI Toolkit -->
  <link rel="stylesheet" href="./static/next-0.10.0-Boron/css/next.min.css">
  <!-- <script src="./static/next-0.10.0-Boron/js/next.min.js"></script> -->
  <!-- EnterpriseNetworkLayoutがバグってるので、修正したものを使う -->
  <script src="./static/site/js/next.js"></script>

  <!-- サイトのCSS -->
  <link href="./static/site/css/site.css" rel="stylesheet">

  <!-- サイトのJavaScript -->
  <script src="./static/site/js/iida.startup.js"></script>
  <script src="./static/site/js/iida.topologyData1.js"></script>
  <script src="./static/site/js/iida.topologyData2.js"></script>
  <script src="./static/site/js/iida.topologyData3.js"></script>
  <script src="./static/site/js/iida.topologyData4.js"></script>
  <script src="./static/site/js/iida.topologyData5.js"></script>
  <script src="./static/site/js/iida.topologyDataIcons.js"></script>
  <script src="./static/site/js/iida.nextui.js"></script>
  <script src="./static/site/js/iida.main.js"></script>

</head>

<!--
    <body>には画面レイアウトを制御する最上位のコントローラtopControllerをバインドする。
    style="overflow: hidden;" ウィンドウのスクロールバーは出さない。
    サイドナビを使うとスクロールバーと相性が悪い。スクロールバーが必要な場所にはmd-contentを使うこと。
-->
<body flex layout-fill layout="column" ng-cloak ng-controller="topController as tc" style="overflow: hidden;">

  <!-- 縦並びの上から１個目は常時表示するナビゲーション用のツールバー -->
  <!-- ツールバーをbody直下に置かないと、後続のDIVのサイズ取得がうまくいかない -->
  <md-toolbar>
    <div class="md-toolbar-tools">

      <!-- ロゴを表示する。ボタンにすると全部大文字になってしまうので、単純なアンカーにする -->
      <h1><a href="#">{{:: tc.logoTitle }}</a></h1>

      <!-- 右寄せするためのspan -->
      <span flex></span>

      <!-- リンク -->
      <span ng-repeat="link in tc.links">
        <md-button aria-label="{{:: link.label}}" ng-href="{{:: link.url}}" target="_blank">{{:: link.title}}</md-button>
        <md-tooltip>{{:: link.label}}</md-tooltip>
      </span>

      <!-- github -->
      <md-button aria-label="github" class="md-icon-button" ng-href="{{:: tc.githubUrl }}" target="_blank">
        <md-icon md-svg-icon="github"></md-icon>
        <md-tooltip>github</md-tooltip>
      </md-button>

      <!-- 設定用アイコン -->
      <md-button aria-label="setting" class="md-icon-button" ng-controller="settingDialogController as sc" ng-click="sc.showDialog()">
        <md-icon md-svg-icon="setting"></md-icon>
        <md-tooltip>設定</md-tooltip>
      </md-button>

    </div>
  </md-toolbar>

  <!-- 縦並びの上から２個目はui-routerのコンテナにして、URLごとに内容を差し替える -->
  <div flex ui-view></div>

</body>

<!--
  以下、先読みスクリプト
-->

<!--
    トップページ
    index
    url: '/',
    templateUrl: 'index.tpl',
    controller: 'indexController',
    controllerAs: 'indexCtrl'
-->
<script type="text/ng-template" id="index.tpl">

  <md-content md-component-id="index" flex layout="row" layout-margin layout-align="center start">
    <md-card flex="66" layout-padding>

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{:: indexCtrl.title }}</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <p>{{:: indexCtrl.description }}</p>
        <md-list-item class="md-3-line">
          <div class="md-list-item-text" layout="column" layout-align="start start">
            <h3>{{:: indexCtrl.author }}</h3>
            <h4>{{:: indexCtrl.date }}</h4>
            <p>{{:: indexCtrl.mail }}</p>
          </div>
        </md-list-item>
      </md-card-content>

      <md-card-actions layout="column" layout-align="start">
        <md-button aria-label="NeXt practice" class="md-primary md-raised" ng-if="!tc.isie" ui-sref="next">スタート</md-button>
        <md-tooltip ng-if="!tc.isie">ここをクリックして開始</md-tooltip>
        <span ng-if="tc.isie">ブラウザがIEのため、ここから先には進めません。Chromeで再接続してください。</span>
      </md-card-actions>

    </md-card>
  </md-content>

</script>


<!--
  NeXt UI練習ページ
  next
  url: '/next',
  templateUrl: 'next.tpl',
  controller: 'nextController',
  controllerAs: 'nextCtrl'
-->
<script type="text/ng-template" id="next.tpl">

  <!-- layout="row" 1行に収める -->
  <div layout="row" flex layout-fill layout-padding>

    <!-- 左側 -->
    <div flex>
      <h3>{{::nextCtrl.title}}</h3>
      <p>{{::nextCtrl.description}}</p>
      <md-button aria-label="実験1" class="md-raised" ng-click="nextCtrl.doTest1()">
        パス追加<md-tooltip>id=0のリンクの上にパスを描画します</md-tooltip>
      </md-button>
      <md-button aria-label="実験2" class="md-raised" ng-click="nextCtrl.doTest2()">
        ステータス追加<md-tooltip>偶数番ノードに赤、奇数に緑のドットを付けます</md-tooltip>
      </md-button>
      <md-button aria-label="実験3" class="md-raised" ng-click="nextCtrl.doTest3()">
        選択中ノード<md-tooltip>選択中のノード一覧を取得してコンソールに出力します</md-tooltip>
      </md-button>
      <md-button aria-label="実験4" class="md-raised" ng-click="nextCtrl.doTest4()">
        ノード選択<md-tooltip>id=0のノードを選択します</md-tooltip>
      </md-button>
      <!--
      <md-button aria-label="実験5" class="md-raised" ng-click="nextCtrl.doTest5()">
        Hierarchical<md-tooltip>HierarchicalLayoutを選択します</md-tooltip>
      </md-button>
      -->
      <md-button aria-label="実験6" class="md-raised" ng-click="nextCtrl.doTest6()">
        レイアウト初期化<md-tooltip>レイアアウトを初期化します</md-tooltip>
      </md-button>
      <!-- NeXt UIのシェルを組み込むカスタムディレクティブ -->
      <iida-nx-shell topology-container="nextCtrl.getTopologyContainer()" flex layout-fill></iida-nx-shell>
    </div>

    <!-- 右側 -->
    <!-- サービスが保持しているデータ一覧を常時表示する -->
    <md-content md-component-id="main-right" class="md-whiteframe-3dp" flex-sm="40" flex-gt-sm="35" flex-gt-md="33" layout-align="end start">
      <div flex layout="row" layout-align="start center">
        <h3>データ表示</h3> <span flex></span>
        <md-button aria-label="edit" class="md-icon-button" ng-controller="editorDialogController as ec" ng-click="ec.showDialog()">
          <md-icon md-svg-icon="edit"></md-icon>
          <md-tooltip>編集</md-tooltip>
        </md-button>
      </div>

      <p><md-divider></md-divider></p>

      <div ng-controller="dataController as dataCtrl">
        <pre>{{dataCtrl.getTopologyData() | json}}</pre>
      </div>
      <!--
      <form name="editorForm" ng-controller="dataController as dataCtrl">
        <p ng-show="editorForm.editor.$error.json">JSON is invalid!</p>
        <md-input-container class="md-block">
          <label>JSONデータ</label>
          <textarea name="editor" autocomplete="off" ng-model="dataCtrl.obj" json-editor md-select-on-focus></textarea>
        </md-input-container>
      </form>
      -->
    </md-content>

  <!-- 左右に割った行のおわり -->
  </div>

<!-- next.tpl 終わり -->
</script>


<!--
  設定ダイアログのテンプレート
  controllerAs: 'sc',
  templateUrl: 'setting.tpl',
  parent: angular.element(document.body)
-->
<script type="text/ng-template" id="setting.tpl">

  <md-dialog aria-label="Setting" flex="40">
    <!-- ダイアログの上段にツールバーを使ってタイトルを付ける -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Setting</h2> <span flex></span>
        <md-button aria-label="close dialog" class="md-icon-button" ng-click="sc.cancel()">
          <md-icon md-svg-icon="close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- ダイアログのコンテンツ -->
    <md-dialog-content>
      <!-- md-dialog-contentクラスを使うと、いい具合にパディングされる -->
      <div class="md-dialog-content">
        <!-- debug -->
        <md-switch ng-model="sc.settingParam.debug" aria-label="Switch debug">
          debug: {{ sc.settingParam.debug }}
        </md-switch>
        <p><md-divider></md-divider></p>
        <!-- topologyDataIndex -->
        <p>データ選択</p>
        <md-radio-group ng-model="sc.settingParam.topologyDataIndex">
          <md-radio-button value="0"> 2ノード(簡易) </md-radio-button>
          <md-radio-button value="1"> 3ノード(各種プロパティあり) </md-radio-button>
          <md-radio-button value="2"> 5ノード </md-radio-button>
          <md-radio-button value="3"> ノードセット </md-radio-button>
          <!-- <md-radio-button value="4"> 階層型 </md-radio-button> -->
          <md-radio-button value="5"> アイコン一覧 </md-radio-button>
        </md-radio-group>
      </div>
    </md-dialog-content>

    <!-- ダイアログの最下部、フッタ部分にボタンを配置する -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="sc.answer('ok')" md-autofocus>OK</md-button>
      <md-button ng-click="sc.answer('cancel')">Cancel</md-button>
    </md-dialog-actions>
  </md-dialog>

</script>


<!--
  編集ダイアログのテンプレート
  controllerAs: 'ec',
  templateUrl: 'editor.tpl',
  parent: angular.element(document.body)
-->
<script type="text/ng-template" id="editor.tpl">

  <md-dialog aria-label="Setting" flex-sm="90" flex-gt-sm="80" flex-gt-md="66">
    <!-- ダイアログの上段にツールバーを使ってタイトルを付ける -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{:: ec.title}}</h2>
        <span flex-offset="5" ng-show="editorForm.editor.$error.json">JSON is invalid!</span>
        <span flex></span>
        <md-button aria-label="close dialog" class="md-icon-button" ng-click="ec.cancel()">
          <md-icon md-svg-icon="close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- ダイアログのコンテンツ -->
    <md-dialog-content>
      <!-- class="md-dialog-content"を使うと、いい具合にパディングされるが、ここでは使わない -->
      <form name="editorForm">
        <md-input-container class="md-block">
          <textarea aria-label="editor" name="editor" autocomplete="off" ng-model="ec.obj" json-editor></textarea>
        </md-input-container>
      </form>
    </md-dialog-content>

    <!-- ダイアログの最下部、フッタ部分にボタンを配置する -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary md-raised" ng-disabled="editorForm.editor.$error.json" ng-click="ec.answer('ok')" md-autofocus>OK</md-button>
      <md-button ng-click="ec.answer('cancel')">Cancel</md-button>
    </md-dialog-actions>
  </md-dialog>

</script>

</html>
